<div id="menubalk">

  <ul>
    <div id="menulinks">
      <li>Back</li>
    </div>
    <ul id="menurechts">
      <li>Profiel</li>
      <li (click)="logout()" >Log Out</li>
    </ul>
  </ul>


</div>
<div id="wrapper">
  <div id="menubox">
    <a routerLink="/invite/friends">
      <div class="option">

      <div class="colorHolder" style="background-color: lightblue">
        <p>Friends</p>
      </div>

      <div class="icon">
        <img src="assets/img/friends.png"/>
      </div>
    </div>
    </a>
    <a routerLink="/invite/recent-opponents">
    <div class="option">
      <div class="colorHolder" style="background-color: green">
        <p>Recent Opponents</p>
      </div>

      <div class="icon">
        <img src="assets/img/swords.png"/>
      </div>
    </div>
    </a>
    <a routerLink="/invite/email-invitation">
    <div class="option">
      <div class="colorHolder" style="background-color: purple">
        <p>Email Invitation</p>
      </div>

      <div class="icon">
        <img src="assets/img/envelope.png"/>
      </div>
    </div>
    </a>
    <a routerLink="/invite/facebook-google">
    <div class="option">
      <div class="colorHolder" style="background-color: orange">
        <p>Facebook/Google</p>
      </div>
      <div class="icon">
        <img src="assets/img/share.png"/>
      </div>

    </div>
    </a>

    </div>
</div>

