#wrapper{
  height: 1000vh;
  width: 1000vw;
  background-image: linear-gradient( to right , #acd095 , #d5e7ca ) ;
  overflow-x: hidden;
  background-repeat: repeat-y;
}

#menubox{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 500px;
  border: solid black 2px;
  width: 70%;
  max-width: 1000px;
  background-color: white;
  padding:10px;
  grid-area:players;
  grid-gap:10px;
  display: grid;
  align-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.option{
  max-height:300px;
  width: 100%;
  text-align:center;
  border: 2px solid black;
  height: 100%;
  overflow: hidden;
  background-color: #CDE6D0;
  display: grid;
  grid-template-rows: 60px 20px 200px 80px;
  grid-template-areas:
    "topColor"
    "topInformation"
    "middleCharacter"
}

.colorHolder {
  grid-area: topColor;
  border-bottom: 1px solid black;
  background-color:lightblue;
}

.colorHolder p {
  font-weight: bold;
}

.icon{
  grid-area: middleCharacter;
  align-self:center;
}

.icon img{
  width:70%;
}

a{
  text-decoration: none;
  decoration: none;
  color: black;
}

a:hover{
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a:visited{
  text-decoration: none;
  decoration: none;
  color:black;
}

@media only screen and (max-width: 900px) {
  #menubox {
    min-height:500px;
    height: 60%;
    width: 50%;
    grid-template-columns: 1fr;
  }

  .option {
    grid-template-rows: 0.25fr 0.25fr 1fr 0.25fr;
  }

  .icon img {
    width: 5vh;
  }
}




#menubalk {
  grid-area: menubalk;
  background-image: linear-gradient(to right, #acd095, #d5e7ca);
  width: 100%;
  grid-column: 1/4;
  justify-self: center;

}

#menubalk ul {

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*border-bottom:1px solid green;*/

}

#menubalk #menurechts {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: right;
  /*border-bottom:1px solid green;*/

}

#menubalk #menulinks li {
  border-right: 1px solid green;
  font-weight: bold;
  text-decoration: none;
  padding: 22px 30px 22px 30px;
  float: left;
  color: darkgreen;
}

#menubalk #menurechts li {

  border-left: 1px solid green;
  font-weight: bold;
  text-decoration: none;
  padding: 22px 30px 22px 30px;
  float: left;
  color: darkgreen;
}

#menubalk #menurechts li:hover {
  border-left: 1px solid white;
  background-image: linear-gradient(to right, #acd095, #d5e7ca);
  color: green;
  cursor: pointer;
}

#menubalk #menulinks li:hover {
  border-right: 1px solid white;
  background-image: linear-gradient(to right, #acd095, #d5e7ca);
  color: green;
  cursor: pointer;

}




