<div id="menu">
  <div id="titel" style="text-align: center;">
    <h4>Unmortgage</h4>
    <i (click)="onClose()" class="fas fa-times"></i>
    <h6>Choose one of your properties.</h6>
  </div>
  <div id="properties" >
    <div *ngFor="let inputProperty of inputProperties">
      <!--<app-property-card [property]="inputProperty"></app-property-card>-->
      <div (click)="setActive(inputProperty)" class="property" [ngStyle]="{'border-color' :   inputProperty.street.color}">
        <p >{{inputProperty.name}}</p>
      </div>

    </div>
  </div>

  <div *ngIf="selectedField"  id="buttons">
    <p style="grid-column: 1/4"><strong>Are you sure you want to unmortgage this field?</strong></p>
    <p>{{selectedField.name}}</p>
    <p>{{selectedField.mortgage}}</p>
    <button>Unmortgage</button>

  </div>



</div>
