#menu{
  background:white;
  /*width:30vw;*/
  /*height:30vw;*/
  width: 400px;
  height:400px;
  padding:10px;

  border:2px solid black;
  background-color: #f5f2f2;

  display:grid;

  grid-template-rows: 1fr 3.5fr 1fr;
  grid-template-areas: "titel" "properties" "buttons";
}

#titel{
  grid-area: titel;
  position: relative;
}

#properties{
  grid-area: properties;
  display:grid;
  grid-template-columns: 2.5fr 2.5fr 2.5fr;
  justify-content: center;
  text-align: center;
  overflow-y: scroll;

}

#properties .property{
  border:2px solid;
  margin:1px;
  background-color: #d5e7ca;

}

#properties div :hover{
  background-color: white;
  font-weight: bold;
  cursor: pointer;


}

#titel i {
  position:absolute;
  margin:2px 5px 2px 2px;
  top:0;
  right:0;
}

#titel i:hover {
  color:#CDE6D0;
}






#buttons{
  grid-area: buttons;
  display: grid;
  text-align: center;
  align-content:center;
  grid-template-rows: repeat(2, 0.5fr);
  grid-template-columns: repeat(3, 1fr);
}


#buttons p{
  margin:auto;
}
