<div class="box">
{{player.name}}
  <hr>
  <img src="../../../../assets/img/pawns/{{player.pawn}}.png">
  <button *ngIf="disabledButton==false" (click)="rollDice()">Roll dice!</button>
  <button *ngIf="disabledButton" (click)="endTurn()">End Turn!</button>
  <button *ngIf="fields[player.position].ownedBy==null&&buyableProperty==true" (click)="buyProp()">Buy Property</button>
</div>
