.box{
  border: 2px solid black;
  border-radius: 5px;
  margin: 100px;
  background-color: lightsalmon;
  text-align: center;

}

button{
  border-radius: 5px;

}
img{
  width: 50px;

  height:  50px;
}
