/*#pawnGrid {
  border-top: 2px solid green;
  display: grid;
  box-sizing: border-box;
  border-collapse: collapse;
  grid-template-columns: 20px 20px;
  grid-template-rows: 20px 20px;
  grid-template-areas: "player1 player2"
                       "player3 player4";

}*/
#pawnbox {
  width: inherit;
  height: inherit;
  background-repeat: no-repeat;
  background-size: auto;
  display: grid;
  box-sizing: border-box;
  border-collapse: collapse;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "player1 player2"
  "player3 player4";
}
img {
  display: flex;
  width: 25px;
  height: 25px;
}
