#container {
  border: 2px solid black;
  background-color: white;
  margin: 100px;
  margin-top: 25px;
  height: 400px;
}

#titleHolder {
  border: 2px solid black;
  margin: 10px;
}

.rentHolder, .costHolder{
  width: 80%;
  margin: auto;
}

.costHolder{
  margin-bottom: 10px;
}

table{
  text-align: left;
  width: 100%;
}

.alignPrice{
  text-align: right;
}
hr {
  margin-left: 30px;
  margin-right: 30px;
}


.costHolder{
  text-align: center;
}

#titleHolder{
  text-align: center;
}
