<div *ngIf="property.street.name != 'Extra'" id="container">
  <div id="titleHolder"
       [ngStyle]="{'background-color': property.street.color}">
    <p><b>{{property.name}}</b></p>
    <p>{{property.street.name}}</p>
  </div>

  <div id="StreetFields" *ngIf="property.street.name != 'Transport' && property.street.name != 'Maatschappelijk'">
    <div class="rentHolder">
      <table cellspacing="10">
        <tr>
          <td>Rent - Site Only</td>
          <td class="alignPrice">€{{property.rentUnbuild}}</td>
        </tr>
        <tr>
          <td>Rent with 1 House</td>
          <td class="alignPrice">€{{property.rentOneHouses}}</td>
        </tr>
        <tr>
          <td>Rent with 2 Houses</td>
          <td class="alignPrice">€{{property.rentTwoHouses}}</td>
        </tr>
        <tr>
          <td> Rent with 3 Houses</td>
          <td class="alignPrice"> €{{property.rentThreeHouses}}</td>
        </tr>
        <tr>
          <td>Rent with 4 Houses</td>
          <td class="alignPrice"> €{{property.rentFourHouses}}</td>
        </tr>
        <tr>
          <td>Rent with Hotel</td>
          <td class="alignPrice">€{{property.rentHotel}}</td>
        </tr>
      </table>
    </div>
    <hr>
    <div class="costHolder">
      <table cellspacing="10">
        <tr>
          <td>Price house</td>
          <td class="alignPrice">€{{property.priceHouseHotel}}</td>
        </tr>
        <tr>
          <td>Price hotel</td>
          <td class="alignPrice">€{{property.priceHouseHotel}}</td>
        </tr>
        <tr>
          <td>Mortgage value</td>
          <td class="alignPrice">€{{property.mortgage}}</td>
        </tr>
      </table>
    </div>
  </div>


  <div id="TransportFields" *ngIf="property.street.name == 'Transport'">
    <div class="rentHolder">
      <table cellspacing="10">
        <tr>
          <td>Rent With 1 Station</td>
          <td class="alignPrice">€{{property.priceOneStation}}</td>
        </tr>
        <tr>
          <td>Rent with 2 Station</td>
          <td class="alignPrice">€{{property.priceTwoStations}}</td>
        </tr>
        <tr>
          <td>Rent with 3 Stations</td>
          <td class="alignPrice">€{{property.priceThreeStations}}</td>
        </tr>
        <tr>
          <td> Rent with 4 Stations</td>
          <td class="alignPrice"> €{{property.priceFourStations}}</td>
        </tr>
      </table>
    </div>
    <hr>
    <div class="costHolder">
      <table cellspacing="10">
        <tr>
          <td>Mortgage value</td>
          <td class="alignPrice">€{{property.mortgage}}</td>
        </tr>
      </table>
    </div>
  </div>


  <div id="UtilityFields" *ngIf=" property.street.name == 'Maatschappelijk'">
    <div class="rentHolder">
      <table cellspacing="10">
        <tr>
          <td>Rent with 1 Utility</td>
          <td class="alignPrice">x{{property.priceOneUtility}}</td>
        </tr>
        <tr>
          <td>Rent with 2 Utilities</td>
          <td class="alignPrice">x{{property.priceTwoUtilities}}</td>
        </tr>
      </table>
    </div>
    <hr>
    <div class="costHolder">
      <table cellspacing="10">
        <tr>
          <td>Mortgage value</td>
          <td class="alignPrice">€{{property.mortgage}}</td>
        </tr>
      </table>
    </div>
  </div>

</div>
