<div id="body">
  <h1 id="title">Monopoly</h1>
  <div id="fb-root"></div>
  <script async defer src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.2&appId=2021150174665292&autoLogAppEvents=1"></script>


  <div id="loginContainer">
    <div class="row">
      <div class="col-sm">
        <img id="diceImage" src="../assets/img/dice.png">
      </div>
      <div class="col-sm">
        <div id="loginCard">
          <div id="loginHeader">
            <p id="headerTitle">Login</p>
          </div>
          <form [formGroup]="loginForm" id="loginForm" (ngSubmit)="onSubmit()">
            <div class="formLabel">
              <label for="username">Username: </label>
              <div [ngStyle]="{'visibility':  username.invalid && username.touched ? 'visible' : 'hidden'}" class="text-danger"> Username cannot be empty</div>
            </div>
            <input type="text" formControlName="username" id="username" name="username" class="textbox">
            <div class="formLabel">
              <label for="password">Password: </label>
              <div [ngStyle]="{'visibility':  password.touched && password.invalid ? 'visible' : 'hidden'}"  class="text-danger">Password cannot be empty</div>
            </div>
            <input type="password" formControlName="password" id="password" name="password" class="textbox" >
            <div [ngStyle]="{'visibility':  wrongCredentials ? 'visible' : 'hidden'}" class="text-danger"> Wrong username or password</div>
            <input type="submit" id="submitButton" class="btn btn-primary" value="Login" [disabled]="loginForm.invalid">
            <a routerLink="/register">Don't have an account? Click here to register</a>
            <div class="fb-login-button" data-size="large" data-button-type="continue_with" data-auto-logout-link="false" data-use-continue-as="false" (click)="facebookLogin()"></div>
          </form>
        </div>
      </div>
      <div class="col-sm">
        <img src="../assets/img/monopolyman.png">
      </div>
    </div>
  </div>

</div>

