#container {
  display: grid;
  grid-template-areas: "menubalk" "gameboard" "buttons";
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 675px 1fr 0.5fr;
  background-image: linear-gradient(to right, #acd095, #d5e7ca);
}

#menubalk {
  grid-area: menubalk;
  background-image: linear-gradient(to right, #acd095, #d5e7ca);
  width: 100%;
  grid-column: 1/4;
  justify-self: center;

}

#menubalk ul {

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*border-bottom:1px solid green;*/

}

#menubalk #menurechts {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: right;
  /*border-bottom:1px solid green;*/

}

#menubalk #menulinks li {
  border-right: 1px solid green;
  font-weight: bold;
  text-decoration: none;
  padding: 22px 30px 22px 30px;
  float: left;
  color: darkgreen;
}

#menubalk #menurechts li {

  border-left: 1px solid green;
  font-weight: bold;
  text-decoration: none;
  padding: 22px 30px 22px 30px;
  float: left;
  color: darkgreen;
}

#menubalk #menurechts li:hover {
  border-left: 1px solid white;
  background-image: linear-gradient(to right, #acd095, #d5e7ca);
  color: green;
  cursor: pointer;
}

#menubalk #menulinks li:hover {
  border-right: 1px solid white;
  background-image: linear-gradient(to right, #acd095, #d5e7ca);
  color: green;
  cursor: pointer;

}


#gameboard {
  border-top: 2px solid green;
  display: grid;
  grid-area: gameboard;
  box-sizing: border-box;
  border-collapse: collapse;
  grid-template-columns: 90px 55px 55px 55px 55px 55px 55px 55px 55px 55px 90px;
  grid-template-rows: 90px 55px 55px 55px 55px 55px 55px 55px 55px 55px 90px;
  grid-template-areas: "vak21 vak22 vak23 vak24 vak25 vak26 vak27 vak28 vak29 vak30 vak31" "vak20 Center Center Center Center Center Center Center Center Center vak32" "vak19 Center Center Center Center Center Center Center Center Center vak33" "vak18 Center Center Center Center Center Center Center Center Center vak34" "vak17 Center Center Center Center Center Center Center Center Center vak35" "vak16 Center Center Center Center Center Center Center Center Center vak36" "vak15 Center Center Center Center Center Center Center Center Center vak37" "vak14 Center Center Center Center Center Center Center Center Center vak38" "vak13 Center Center Center Center Center Center Center Center Center vak39" "vak12 Center Center Center Center Center Center Center Center Center vak40" "vak11 vak10 vak9 vak8 vak7 vak6 vak5 vak4 vak3 vak2 vak1";

}

#buttonbox {
  grid-area: buttons;
  display: grid;
  grid-template-columns: repeat(4, auto);
}

#buttonbox button :hover {
  cursor: pointer;
}

.Center {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ".";
  grid-area: Center;
  background: url("../../../../assets/img/center.png");
  background-size: cover;
  grid-template-areas: "buttonbox";
}

.box {
  grid-area: buttonbox;
  align-self: center;
  justify-self: center;
}

#playerbox {
  grid-column-start: 2;
  width: 100%;
  border: 1px solid green;
  grid-row: 2/4;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
}

#playerbox .player {
  border: 1px solid green;
  padding: 2%;
  display: grid;
  grid-template-rows: 0.5fr 2fr 0.25fr;
  grid-template-areas: "titel" "fieldbox" "housebox";
}







#chatbox {
  grid-column-start: 3;
  border-top: 2px solid green;
  /*background:white;*/
  grid-row: 2/4;
  display: grid;
  grid-template-rows: 0.5fr 4fr 0.5fr;
  grid-template-areas: "chatTitle" "Chat" "Inputbox";
}

#chatbox .chatTitle {
  margin-top: 1%;
  grid-area: chatTitle;

}

#chatbox .chat {
  grid-area: Chat;
  padding: 2%;
}

.speech-bubble {
  position: relative;
  background: #32881f;
  border-radius: .4em;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 150%;
  text-shadow: 0 -.05em .1em rgba(0,0,0,.3);
}

.speech-bubble h1{
  padding: 10px;
  font-size:80%;
}


.speech-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: #32881f;
  border-bottom: 0;
  border-left: 0;
  margin-left: -10px;
  margin-bottom: -20px;
}

.inputchat{
  grid-area: Inputbox;
  background-color:lightgrey;
  align-content: center;

}

.inputchat input.textarea{

  width: 100%;
  height: 100%;
  z-index: 99;
  background: #fafafa;
  border: none;
  outline: none;
  padding-left: 55px;
  padding-right: 55px;
  color: #666;
  font-weight: 400;
}








