<div id="container">
  <div id="menubalk">

    <ul>
      <div id="menulinks">
        <li>Back</li>
      </div>
      <ul id="menurechts">
        <li>Profiel</li>
        <li (click)="logout()">Log Out</li>
      </ul>
    </ul>


  </div>

  <div id="gameboard">
    <div *ngFor="let field of game.fields" [ngStyle]="{'grid-area' : 'vak'+field.position}">
      <app-field *ngIf="field.position>1&&field.position<11"
                 [property]="field"
                 [players]="game.players"
                 (mouseenter)="setHoverProperty(field)"
                 (mouseleave)="setHoverProperty(null)">
      </app-field>
      <app-field *ngIf="field.position>21&&field.position<31"
                 [property]="field"
                 [players]="game.players"
                 (mouseenter)="setHoverProperty(field)"
                 (mouseleave)="setHoverProperty(null)">
      </app-field>
      <app-fieldvertical *ngIf="field.position>11&&field.position<21"
                         [property]="field"
                         [players]="game.players"
                         (mouseenter)="setHoverProperty(field)"
                         (mouseleave)="setHoverProperty(null)">
      </app-fieldvertical>
      <app-fieldvertical *ngIf="field.position>31&&field.position<41"
                         [property]="field"
                         [players]="game.players"
                         (mouseenter)="setHoverProperty(field)"
                         (mouseleave)="setHoverProperty(null)">
      </app-fieldvertical>
      <app-field-corner *ngIf="field.position==1||field.position==11||field.position==21||field.position==31"
                        [property]="field"
                        [players]="game.players"
                        (mouseenter)="setHoverProperty(field)"
                        (mouseleave)="setHoverProperty(null)"></app-field-corner>
    </div>

    <div class="Center">
      <app-action-box *ngIf="tokeninfo.username==game.playerPlaying.name" [fields]="game.fields" [player]="game.playerPlaying"></app-action-box>
      <app-property-card *ngIf="hoverProperty && !buildbox && !mortgagebox && !unmortgagebox"
                         [property]="hoverProperty"></app-property-card>
      <app-mortgage (close)="close($event)" class="box" *ngIf="mortgagebox" [inputProperties]="test"></app-mortgage>
      <app-unmortgage (close)="close($event)" class="box" *ngIf="unmortgagebox"
                      [inputProperties]="test"></app-unmortgage>
      <app-build (close)="close($event)" class="box" *ngIf="buildbox" [inputProperties]="test"></app-build>
    </div>

  </div>

  <div id="buttonbox">
    <button (click)="showBuildBox()">Build</button>
    <button (click)="showMortgageBox()">Mortage</button>
    <button (click)="showUnmortgageBox()">Unmortgage</button>
    <button>Trade</button>
  </div>


  <div id="playerbox">
    <!--Lopen over alle spelers en de "player" div aanmaken samen emt de h4 en de hr-->
    <app-player-overview class="player" [fields]="game.fields" [player]="player" *ngFor="let player of game.players"></app-player-overview>
  </div>


  <div id="chatbox">
    <div class="chatTitle">
      <h3 style="text-align: center">Chat</h3>
      <hr>
    </div>
    <div class="chat">
      <div *ngFor="let message of game.messages" class="speech-bubble">
        <h1>{{message.chatMessage}}</h1>
      </div>


    </div>
    <div class="inputchat">
      <input (keyup.enter)="chat(chattext.value)"(keyup.enter)="chattext.value=''" #chattext class="textarea" type="text" placeholder="Type here!"/>
    </div>
  </div>



</div>



