<div id="wrapper">
  <div id="settingsbox">
    <div class="container">
      <form action="/action_page.php">
        <div class="row">
          <div class="col-25">
            <label for="turntime"><b>Turntime</b></label>
          </div>
          <div class="col-75">
            <input type="number" id="turntime" name="firstname" placeholder="Time each turn in minutes...">
          </div>
        </div>

        <div class="row">
          <input type="submit" value="Submit">
        </div>
      </form>
    </div>


  </div>
</div>

