#informationHolder {
  font-size: 11px;
  text-align: center;
  padding-top: 25%;
}

#container {
  border: 2px solid black;
  height: 100%;
  overflow: hidden;
  background-color: #CDE6D0;
  display: grid;
}

