.player {
  border: 1px solid green;
  padding: 2%;
  display: grid;
  grid-template-rows: 0.5fr 2fr 0.25fr;
  grid-template-areas: "titel" "fieldbox" "housebox";
}

#titel {
  grid-area: titel;
}

.fields {
  grid-area: fieldbox;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  grid-gap: 3%;
}

.field {
  width: 100%;
  height: 4vh;
  border: 1px solid red;
}

.housebox {
  display: grid;
  grid-area: housebox;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  text-align: center;
}
