<div class="titel">
  <h4 style="text-align: center;">{{player.name}}</h4>
  <p style="text-align: center;"><strong>€ {{player.money}}</strong></p>
  <hr>
</div>


<div class="fields">
  <!--lopen over alle fields en als de speler die heeft -> background color instellen-->

  <ng-container *ngFor="let field of fields">
    <div *ngIf="field.buyValue!=0"  class="field"></div>
  </ng-container>

</div>
<div class="housebox">
  <p><span class="fas fa-home"> 1</span></p>
  <p><span class="fas fa-building"> 0</span></p>
</div>
