<div id="menubalk">

  <ul>
    <div id="menulinks">
      <li>Back</li>
    </div>
    <ul id="menurechts">
      <li>Profiel</li>
      <li (click)="logout()" >Log Out</li>
    </ul>
  </ul>


</div>
<div id="wrapper">
  <div id="menubox">

    <div id="pawnbox">
      <a *ngIf="pawnFree('boat')" (click)="pickPawn('boat')"><img src="assets/img/pawns/boat.png"/></a>
      <a *ngIf="pawnFree('dog')" (click)="pickPawn('dog')"><img src="assets/img/pawns/dog.png"/></a>
      <a *ngIf="pawnFree('racecar')" (click)="pickPawn('racecar')"><img src="assets/img/pawns/racecar.png"/></a>
      <a *ngIf="pawnFree('hat')" (click)="pickPawn('hat')"><img src="assets/img/pawns/hat.png"/></a>
      <a *ngIf="pawnFree('horse')" (click)="pickPawn('horse')"><img src="assets/img/pawns/horse.png"/></a>
    </div>


    <div id="playerbox">
      <div *ngFor="let player of game.players">
        <a>
          <div class="player">
            <div class="colorHolder" style="background-color: green">
              <i (click)="delete(listitem)" class="fas fa-times"></i>
              <p>{{player.name}}</p>
            </div>
            <div *ngIf="player.pawn != null" id="pawn"> <img src="assets/img/pawns/{{player.pawn}}.png"/></div>
          </div>
        </a>

      </div>
    </div>

    <div id="buttonbox">

      <button style="flex-grow: 1;" routerLink="/menu" class="button type1">
        RETURN MENU
      </button>
      <button style="flex-grow: 1;" routerLink="/game-config" class="button type1">
        GAME CONFIG
      </button>
      <button style="flex-grow: 1;" routerLink="/invite" class="button type1">
        ADD PLAYER
      </button>
      <button style="flex-grow: 1;" (click)="startGame()" class="button type1">
        START GAME
      </button>
    </div>


  </div>
</div>

