#wrapper{
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient( to right , #acd095 , #d5e7ca ) ;
  overflow-x: hidden;
  display: grid;
  grid-template-rows: auto;
  align-content:center;
  justify-content: center;
}

#menubox{
  min-height: 60vh;
  width: 60vw;
  border: solid black 2px;
  max-width: 1000px;
  background-color: white;
  padding:10px;
  display:grid;
  grid-template-areas: "pawnbox" "players"
  "buttons";
  grid-template-rows: 1fr 8fr 1fr;
}
#pawnbox{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

#pawnbox a{
  text-align: center;
}

#pawnbox img{
  object-fit: cover;
  max-height: 100%;

}

#pawnbox a{
  text-decoration: none;
  decoration: none;
  color: black;
}

#pawnbox a:hover {
  /*box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  /*max-height: 95%;*/
border:1px solid black;
}

#pawnbox a:visited{
  text-decoration: none;
  decoration: none;
  color:black;
}



#playerbox{
  position:relative;
  grid-area:players;
  grid-gap:1%;
  display: grid;
  padding-top:2%;
  grid-template-columns: auto auto;
}

.player{
  background-color: #CDE6D0;
  display: grid;
  grid-template-rows: 0.65fr 0.65fr 2.6fr 0.65fr;
  grid-template-areas: "topColor" "topInformation" "pawn";
  border:1px solid black;
  text-align:center;
}

.player #pawn{
  grid-area: pawn;
}

.player #pawn img{
  object-fit: cover;
  max-height: 100%;
}

.colorHolder {
  grid-area: topColor;
  border-bottom: 1px solid black;
  background-color:lightblue;
  position:relative;
}

.colorHolder i {
  position:absolute;
  margin:2px 5px 2px 2px;
  top:0;
  right:0;
}

.colorHolder i:hover {
  color:#CDE6D0;
}

.colorHolder p {
  font-weight: bold;
}

#buttonbox{
  display:grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 5%;
  bottom:0.75em;
  padding-top:2%;
  justify-content: center;
}
#buttonbox a{
  text-decoration: none;
  color:red;
}
#buttonbox a:hover{
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button {
  position: relative;
  bottom:0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
.button.type1 {
  font-weight: bold;
  color: #acd095;
}
.button.type1.type1::after, .button.type1.type1::before {
  content: "";
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 2px solid;
  transition: all 0.6s ease;
  border-radius: 2px;
}
.button.type1.type1::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: green;
  border-right-color: green;
}
.button.type1.type1::before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: green;
  border-left-color: green;
}
.button.type1.type1:hover:after, .button.type1.type1:hover:before {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 700px) {
  #menubox{
    width:100%;
  }

  #playerbox{
    grid-template-columns: auto;
    overflow: hidden;
    grid-gap:2%;
    align-content: start;
  }

  .player{
    grid-template-rows: 0.25fr 0.25fr 1fr 0.25fr;
  }

  #buttonbox{
    padding-top:5%;
  }
}




#menubalk {
  grid-area: menubalk;
  background-image: linear-gradient(to right, #acd095, #d5e7ca);
  width: 100%;
  grid-column: 1/4;
  justify-self: center;

}

#menubalk ul {

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*border-bottom:1px solid green;*/

}

#menubalk #menurechts {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: right;
  /*border-bottom:1px solid green;*/

}

#menubalk #menulinks li {
  border-right: 1px solid green;
  font-weight: bold;
  text-decoration: none;
  padding: 22px 30px 22px 30px;
  float: left;
  color: darkgreen;
}

#menubalk #menurechts li {

  border-left: 1px solid green;
  font-weight: bold;
  text-decoration: none;
  padding: 22px 30px 22px 30px;
  float: left;
  color: darkgreen;
}

#menubalk #menurechts li:hover {
  border-left: 1px solid white;
  background-image: linear-gradient(to right, #acd095, #d5e7ca);
  color: green;
  cursor: pointer;
}

#menubalk #menulinks li:hover {
  border-right: 1px solid white;
  background-image: linear-gradient(to right, #acd095, #d5e7ca);
  color: green;
  cursor: pointer;

}
