<div id="body">
  <h1 id="title">Monopoly</h1>


  <div id="registerContainer">
    <div class="row">
      <div class="col-sm">
        <img id="diceImage" src="../assets/img/dice.png">
      </div>
      <div class="col-sm">
        <div id="registerCard">
          <div id="registerHeader">
            <p id="headerTitle">Register</p>
          </div>
          <form [formGroup]="registerForm" id="registerForm" (ngSubmit)="onSubmit()">
            <div class="formLabel">
              <label for="username">Username: </label>
              <div *ngIf="!usernameTaken" [ngStyle]="{'visibility':  username.invalid && username.touched ? 'visible' : 'hidden'}" class="text-danger"> Username is required</div>
              <div *ngIf="usernameTaken" [ngStyle]="{'visibility':  usernameTaken ? 'visible' : 'hidden'}" class="text-danger"> Username is already taken</div>
            </div>
            <input type="text" formControlName="username" id="username" name="username" class="textbox" (blur)="toggleErrorMessage()">
            <div class="formLabel">
              <label for="email">Email address: </label>
              <div [ngStyle]="{'visibility':  email.invalid && email.touched ? 'visible' : 'hidden'}"  class="text-danger">Wrong email format</div>
            </div>
            <input type="email" formControlName="email"id="email" name="email" class="textbox" >
            <div class="formLabel">
              <label for="password">Password: </label>
              <div [ngStyle]="{'visibility':  password.touched && password.invalid ? 'visible' : 'hidden'}"  class="text-danger">Password needs 8 characters</div>
            </div>
            <input type="password" formControlName="password" id="password" name="password" class="textbox" >
            <div class="formLabel">
              <label for="confirmPassword">Confirm password: </label>
              <div [ngStyle]="{'visibility':  confirmPassword.touched && registerForm.hasError('notSame') ? 'visible' : 'hidden'}"  class="text-danger">Passwords don't match</div>
            </div>
            <input type="password" formControlName="confirmPassword" id="confirmPassword" name="confirmPassword" class="textbox"  >
            <input type="submit" id="submitButton" class="btn btn-warning" value="Register" [disabled]="registerForm.invalid">
            <a routerLink="/login">Already have an account? Click here to login</a>
          </form>
        </div>
      </div>
      <div class="col-sm">
        <img src="../assets/img/monopolyman.png">
      </div>
    </div>
  </div>
</div>

