#registerForm{
  display: flex;
  flex-direction: column;
  width: 20vw;
}



.textbox{
  align-self: center;
  width: 100%;
}

input, .text-danger{
  margin-bottom: 1rem;
}

#title{
  text-align: center;
  font-family: Impact;
  margin-bottom: 3.5rem;
  font-size: 5rem;
}

#registerCard{
  display: flex;
  flex-direction: column;
  border: solid black 2px;
  padding: 1rem 1rem 0rem 1rem;
  box-sizing: content-box;
  align-items: center;
  justify-content: center;
  width: 70%;
  background-color: white;
}

#registerHeader{
  width: 100%;
  text-align: center;
  height: 4rem;
  line-height: 70px;
  vertical-align: middle;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
}

#headerTitle{
  background-color: orange;
  border: solid black 3px;
}

#submitButton{
  align-self: center;
  width: 10rem;
}

.col-sm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


img{
  width: 70%;
  height: 90%;
}

#body{
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient( to right , #acd095 , #d5e7ca ) ;
  overflow-x: hidden;
}

#diceImage{
  height: 40%;
  vertical-align: center;
}

.formLabel{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

a {
  margin-bottom: 1rem;
  font-size: 0.8rem;
}
