#colorHolder {
  grid-area: topColor;
  border-left: 1px solid black;

}

#informationValue{
  /*margin: 10px;*/
  word-wrap: break-word;
  text-align: center;
  padding-top: 5px;
}
#informationHolder {
  grid-area: topInformation;
  font-size: 9px;
  transform: rotate(90deg);
}

#priceValue{
  /* margin: 32px 0; */
  transform: rotate(90deg);
}

#priceHolder {
  grid-area: bottomPrice;
  font-size: 12px;
  margin-top: 10px;
}

#characterHolder {
  grid-area: middleCharacter;
  text-align: center;

}

#container {
  border:2px solid black;
  overflow: hidden;
  display: grid;
  grid-template-rows: 55px;
  grid-template-columns:  20px 5px 47px 18px;
  box-sizing: border-box;
  grid-template-areas: "bottomPrice middleCharacter topInformation topColor";
  background-color: #CDE6D0;
}


.westSide {
transform: rotate(180deg);
}


