<div id="container" [class.westSide]="property.position>31&&property.position<41"
     [class.corner]="property.position==1||property.position==11||property.position==21||property.position==31">

  <div *ngIf="property.street.name != 'Extra'" id="colorHolder"
       [ngStyle]="{'background-color': property.street.color}"></div>

  <div id="informationHolder">
    <div id="informationValue">
      <b>{{property.name}}</b> <br>
      <b *ngIf="property.street.name != 'Extra'">{{property.street.name}}</b>
    </div>
  </div>
  <app-pawnbox [players]="players" [field]="property"></app-pawnbox>

  <div id="priceHolder">
    <div id="priceValue">
      <b *ngIf="property.street.name != 'Extra'">€{{property.buyValue}}</b>
      <b *ngIf="property.name == 'Belasting'">€2000</b>
    </div>
  </div>

</div>
