<div id="menubalk">

  <ul>
    <div id="menulinks">
      <li>Back</li>
    </div>
    <ul id="menurechts">
      <li>Profiel</li>
      <li (click)="logout()" >Log Out</li>
    </ul>
  </ul>


</div>
<div id="wrapper">
  <div id="menubox">

    <h1>Games</h1>
      <table>


        <tr>
          <th>Play</th>
        </tr>
        <tr>
          <th class="tableHeader">Hostplayer</th>
          <th></th>
        </tr>
        <app-rejoingame *ngFor="let player of user.players"
                                [gameId]="player.game.id">

        </app-rejoingame>

        <tr>
          <th>Invites</th>
        </tr>
        <tr>
          <th class="tableHeader">Hostplayer</th>
          <th></th>
        </tr>
        <app-acceptgame *ngFor="let invite of invites"
                        [gameId]="invite.gameId"
                        [userId]="invite.userId"
                        [hostUser]="invite.hostUser">
        </app-acceptgame>

      </table>

  </div>
</div>



