#wrapper {
  height: 100vh;
  width: 1000vw;
  background-image: linear-gradient(to right, #acd095, #d5e7ca);
  overflow-x: hidden;
  background-repeat: repeat-y;
}

#menubox {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 500px;
  border: solid black 2px;
  width: 70%;
  max-width: 1000px;
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  overflow: scroll;
}

table {
  table-layout: fixed;
  width: 100%;
}

tr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  margin-bottom: 0.5rem;
}

.tableHeader {
  flex-grow: 1;
}

h1 {
  font-family: Impact;
  text-align: center;
}
#menubalk {
  grid-area: menubalk;
  background-image: linear-gradient(to right, #acd095, #d5e7ca);
  width: 100%;
  grid-column: 1/4;
  justify-self: center;

}

#menubalk ul {

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*border-bottom:1px solid green;*/

}

#menubalk #menurechts {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: right;
  /*border-bottom:1px solid green;*/

}

#menubalk #menulinks li {
  border-right: 1px solid green;
  font-weight: bold;
  text-decoration: none;
  padding: 22px 30px 22px 30px;
  float: left;
  color: darkgreen;
}

#menubalk #menurechts li {

  border-left: 1px solid green;
  font-weight: bold;
  text-decoration: none;
  padding: 22px 30px 22px 30px;
  float: left;
  color: darkgreen;
}

#menubalk #menurechts li:hover {
  border-left: 1px solid white;
  background-image: linear-gradient(to right, #acd095, #d5e7ca);
  color: green;
  cursor: pointer;
}

#menubalk #menulinks li:hover {
  border-right: 1px solid white;
  background-image: linear-gradient(to right, #acd095, #d5e7ca);
  color: green;
  cursor: pointer;

}
