#wrapper {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to right, #acd095, #d5e7ca);
  overflow-x: hidden;
}

#menubox {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 80%;
  border: solid black 2px;
  width: 30vw;
  max-width: 1000px;
  background-color: white;
  text-align: center;
  border: 2px solid black;
  overflow: hidden;

}


.colorHolder {
  grid-area: topColor;
  border-bottom: 1px solid black;
  background-color: lightblue;
}

.colorHolder p {
  font-weight: bold;
  font-size: 2vw;
}


@media only screen and (max-width: 1150px) {
  .colorHolder p {
    font-size: 3vw;
  }

  #menubox {
    width: 40vw;
  }
}

@media only screen and (max-width: 700px) {
  .colorHolder p {
    font-size: 4vw;
  }

  #menubox {
    width: 50vw;

  }
}

@media only screen and (max-width: 600px) {
  #menubox {
    width: 60vw;

  }
}





