<div id="wrapper">
  <div id="menubox">
    <div class="colorHolder" style="background-color: purple">
      <p>Email Invitation</p>
    </div>

    <div id="invitationbox">
      <input #email placeholder="Email" class="w3-input" type="text" value="">
      <button (click)="invite(email.value)" class="button" style="align-self: end">Add</button>
      <div [ngStyle]="{'visibility':  notFound ? 'visible' : 'hidden'}" class="text-danger">There is no user with that email</div>
    </div>
  </div>
</div>

