#wrapper{
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient( to right , #acd095 , #d5e7ca ) ;
  overflow-x: hidden;
}

#menubox{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 80%;
  border: solid black 2px;
  width: 30vw;
  max-width: 1000px;
  background-color: white;
  text-align:center;
  border: 2px solid black;
  overflow: hidden;
  display: grid;
  grid-template-rows: 0.5fr 2fr 1fr;
  grid-template-areas:
    "topColor"
    "buttonarea"
    "bottomPrice";
}



.colorHolder {
  grid-area: topColor;
  border-bottom: 1px solid black;
  background-color:lightblue;
}



#invitationbox{
  grid-area: buttonarea;
  padding:2%;
}

#invitationbox input{
  font-weight: bold;
  text-align: center;
  font-size: 2vh;
  margin-bottom: 2%;
}
#invitationbox button{
  font-weight: bold;
  font-size: 1.5vh;
  background-color: lightgrey;
  border: none;
  color: white;
  padding: 1vh 3vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

#invitationbox button:hover {
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.colorHolder p {
  font-weight: bold;
  font-size: 2vw;
}


@media only screen and (max-width: 1150px) {
  .colorHolder p {
    font-size: 3vw;
  }
  #menubox{
    width:40vw;
  }
}

@media only screen and (max-width: 700px) {
  .colorHolder p {
    font-size: 4vw;
  }

  #menubox{
    width:50vw;

  }
}


@media only screen and (max-width: 600px) {
  #menubox{
    width:60vw;

  }
}



