<div id="container" [class.northSide]="property.position>21&&property.position<31">
    <div *ngIf="property.street.name != 'Extra'" id="colorHolder" [ngStyle]="{'background-color': property.street.color}">

      <div id="houseHolder">
        <ng-container *ngIf="property.housesAmount<5">
        <i *ngIf="property.housesAmount>0" class="fas fa-home houseIcon" style=""></i>
        <i *ngIf="property.housesAmount>1" class="fas fa-home houseIcon" style=""></i>
        <i *ngIf="property.housesAmount>2" class="fas fa-home houseIcon" style=""></i>
        <i *ngIf="property.housesAmount>3" class="fas fa-home houseIcon" style=""></i>
        </ng-container>
        <ng-container *ngIf="property.housesAmount==5">
          <i *ngIf="property.housesAmount>3" class="fas fa-hotel houseIcon" style=""></i>
        </ng-container>
      </div>
    </div>


  <div id="informationHolder">
    <b>{{property.name}}</b> <br>
    <b *ngIf="property.street.name != 'Extra'">{{property.street.name}}</b>

  </div>

  <div id="characterHolder">
    <app-pawnbox [players]="players" [field]="property"></app-pawnbox>

  </div>

  <div id="priceHolder">
    <b *ngIf="property.street.name != 'Extra'">€{{property.buyValue}}</b>
    <b *ngIf="property.name == 'Belasting'">€2000</b>
  </div>
</div>
