#colorHolder {
  grid-area: topColor;
  border: 1px solid black;
  height: inherit;
  width: inherit;
  position: relative;

}


#informationHolder {
  grid-area: topInformation;

  font-size: 8px;
  word-wrap: break-word;
  text-align: center;

}

#priceHolder {
  grid-area: bottomPrice;
  font-size: 12px;
  text-align: center;
  margin-bottom: 50px;

}

#characterHolder {
  grid-area: middleCharacter;
}

#container {

  border-left: 2px solid black;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  height: 100%;

  overflow: visible;
  background-color: #CDE6D0;
  display: grid;
  grid-template-rows: 15px 5px 50px 20px;
  grid-template-columns: 55px;
  grid-template-areas:
    "topColor"
    "topInformation"
    "middleCharacter"
    "bottomPrice";
}


.northSide{
  transform:rotate(180deg);
}

.houseIcon{

  font-size: 0.5em;
}

#houseHolder{
  grid-area: topColor;
}

