#wrapper{
  height: 100vh;
  width: 1000vw;
  background-image: linear-gradient( to right , #acd095 , #d5e7ca ) ;
  overflow-x: hidden;
  background-repeat: repeat-y;
}

#settingsbox{
  /*Center*/
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /*Stijl*/
  height: 500px;
  border: solid black 2px;
  width: 70%;
  max-width: 1000px;
  background-color: white;
  padding:10px;

}

@media only screen and (max-width: 900px) {
  #settingsbox {
    /*Center*/
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /*Stijl*/
    height: 60%;
    border: solid black 2px;
    width: 50%;
    max-width: 1000px;
    background-color: white;
    padding: 10px;

    grid-area: players;
    grid-gap: 10px;
    display: grid;
    align-content: center;
    grid-template-columns: 1fr;
  }

}


* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;

  /*padding: 12px 20px;*/

  box-sizing: border-box;
  /*border: 3px solid #ccc;*/
  -webkit-transition: 0.2s;
  transition: 0.2s;
  outline: none;
}
input, select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;


  /*padding: 12px 20px;*/

  box-sizing: border-box;
  /*border: 3px solid #ccc;*/
  -webkit-transition: 0.2s;
  transition: 0.2s;
  outline: none;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  /*background-color: #f2f2f2;*/
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

input[type=text]:focus {
  border: 3px solid #555;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
