<div *ngIf="currentUser != null" id="wrapper">
  <div id="settingsbox">
    <div class="container">
      <form [formGroup]="settingsForm" id="settingsForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-25">
            <label for="username"><b>Username</b></label>
          </div>
          <div class="col-75">
            <input type="text" id="username" formControlName="username" [ngModel]="currentUser.username">
          </div>
          <div *ngIf="!usernameTaken" [ngStyle]="{'visibility':  username.invalid && username.touched  ? 'visible' : 'hidden'}" class="text-danger"> Username is required</div>
          <div *ngIf="usernameTaken" [ngStyle]="{'visibility':  usernameTaken ? 'visible' : 'hidden'}" class="text-danger"> Username is already taken</div>
        </div>

        <div class="row">
          <div class="col-25">
            <label for="email"><b>Email</b></label>
          </div>
          <div class="col-75">
            <input type="email" formControlName="email" id="email"[ngModel]="currentUser.email">
          </div>
          <div [ngStyle]="{'visibility':  email.invalid && email.touched ? 'visible' : 'hidden'}"  class="text-danger">Wrong email format</div>
        </div>

        <div class="row">
          <div class="col-25">
            <label for="password"><b>Password</b></label>
          </div>
          <div class="col-75">
            <input type="password" formControlName="password" id="password" placeholder="Vul hier uw oud of gewenst wachtwoord in...">
          </div>
          <div [ngStyle]="{'visibility':  password.touched && password.invalid ? 'visible' : 'hidden'}"  class="text-danger">Password needs 8 characters</div>
        </div>

        <div class="row">
          <div class="col-25">
            <label for="confirmPassword"><b>Confirm Password</b></label>
          </div>
          <div class="col-75">
            <input type="password" formControlName="confirmPassword" id="confirmPassword" placeholder="Vul hier uw oud of gewenst wachtwoord in...">
          </div>
          <div [ngStyle]="{'visibility':  confirmPassword.touched && settingsForm.hasError('notSame') ? 'visible' : 'hidden'}"  class="text-danger">Passwords don't match</div>
        </div>
        <div class="row">
          <input type="submit" [disabled]="settingsForm.invalid" value="Submit">
        </div>
      </form>
    </div>


  </div>
</div>

