tr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  border-bottom: 2px solid black;
  margin-bottom: 0.5rem;
}

tr:hover {
  background-color: #f5f5f5;
}

#hostPlayer {
  flex-grow: 1 ;
}
