<div id="menubalk">

  <ul>
    <div id="menulinks">
      <li>Back</li>
    </div>
    <ul id="menurechts">
      <li>Profiel</li>
      <li (click)="logout()" >Log Out</li>
    </ul>
  </ul>


</div>

<div id="wrapper">
  <div id="menubox">
    <a (click)="createLobby()" >
      <div class="option">

        <div class="colorHolder" style="background-color: lightblue">
          <p>Start Game</p>
        </div>

        <div class="icon">
          <img src="assets/img/swords.png"/>
        </div>
      </div>
    </a>
    <a routerLink="/join">
      <div id="inviteAlert" *ngIf="invites.length>0">{{invites.length}}</div>
      <div class="option">
        <div class="colorHolder" style="background-color: green">
          <p>Join Game</p>
        </div>

        <div class="icon">
          <img src="assets/img/friends.png"/>
        </div>
      </div>
    </a>
    <a routerLink="/settings">
      <div class="option">
        <div class="colorHolder" style="background-color: purple">
          <p>Settings</p>
        </div>

        <div class="icon">
          <img src="assets/img/settings.png"/>
        </div>
      </div>
    </a>


  </div>
</div>

