#wrapper {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to right, #acd095, #d5e7ca);
}

#menubox {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 80%;
  border: solid black 2px;
  width: 30vw;
  max-width: 1000px;
  background-color: white;
  text-align: center;
  border: 2px solid black;
  overflow: hidden;
  display: grid;
  grid-template-rows: 0.5fr 2fr 1fr;
  grid-template-areas: "topColor" "opponentslist";
}

.colorHolder {
  grid-area: topColor;
  border-bottom: 1px solid black;
  background-color: lightblue;
}

.colorHolder p {
  font-weight: bold;
  font-size: 2vw;
}


#friendslist {
  grid-area: opponentslist;
  padding-top: 2%;
}

.content {
  display: flex;
  grid-template-columns: 1fr 2fr 1fr;
  overflow: hidden;
  grid-template-areas: "profilepic" "name" "addButton";
}

.profilepic {
  grid-area: profilepic;
  flex-grow: 1;

}

.name {
  grid-area: name;
  flex-grow: 2;
}

.addButton {
  grid-area: addButton;
  flex-grow: 1;
}

@media only screen and (max-width: 1150px) {
  #menubox {
    width: 40vw;
  }

  .profilepic {
    display: none;
    flex-grow: 0;
  }

  .name {
    text-align: left;
  }

  .colorHolder p {
    font-size: 3vw;
  }
}

@media only screen and (max-width: 700px) {
  .function {
    display: none;

  }

  .colorHolder p {
    font-size: 4vw;
  }

  #menubox {
    width: 50vw;

  }
}

@media only screen and (max-width: 600px) {
  .addButton {
    display: none;
    flex-grow: 0;
  }

  .content {
    text-align: center;
  }

  .name {
    text-align: center;
  }

  #menubox {
    width: 60vw;

  }
}

