<div id="wrapper">
  <div id="menubox">
    <div class="colorHolder" style="background-color: green">
      <p>Recent Opponents</p>
    </div>

    <div id="friendslist">
      <div class="w3-container">
        <ul class="w3-ul">
          <li class="w3-bar">
            <div class="content">
              <div class="profilepic"><img src="assets/img/dummy.png"
                                           class="w3-bar-item w3-circle w3-hide-small"
                                           style="width:85px">
              </div>
              <div  class="name">
                <div class="w3-bar-item">
                  <span class="w3-large">Mike</span><br>
                  <span class="function">Web Designer</span>
                </div>
              </div>
              <div  class="addButton"><span onclick=""
                                            class="w3-bar-item w3-button w3-white w3-xlarge w3-right"><i
                class="fas fa-plus-circle"></i></span>
              </div>
            </div>
          </li>

          <li class="w3-bar">
            <div class="content">
              <div  class="profilepic"><img src="assets/img/dummy.png"
                                            class="w3-bar-item w3-circle w3-hide-small"
                                            style="width:85px">
              </div>
              <div  class="name">
                <div class="w3-bar-item">
                  <span class="w3-large">Jill</span><br>
                  <span class="function">Support</span>
                </div>
              </div>
              <div  class="addButton"><span onclick=""
                                            class="w3-bar-item w3-button w3-white w3-xlarge w3-right"><i
                class="fas fa-plus-circle"></i></span>
              </div>
            </div>
          </li>
          <li class="w3-bar">
            <div class="content">
              <div  class="profilepic"><img src="assets/img/dummy.png"
                                            class="w3-bar-item w3-circle w3-hide-small"
                                            style="width:85px">
              </div>
              <div  class="name">
                <div class="w3-bar-item">
                  <span class="w3-large">Jane</span><br>
                  <span class="function">Accountant</span>
                </div>
              </div>
              <div  class="addButton"><span onclick=""
                                            class="w3-bar-item w3-button w3-white w3-xlarge w3-right"><i
                class="fas fa-plus-circle"></i></span>
              </div>
            </div>
          </li>

        </ul>
      </div>
    </div>

  </div>
</div>

